*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

.container{
    width: 90%;
    margin: auto;
}

.navbar{
    background: #00153a;
    padding: 25px 0;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 45px;
    font-weight: bold;
}

.menu{
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 28px;
}

.section-title{
    font-size: 50px;
    margin: 40px 0;
}

.news-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.news-card{
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

.news-body{
    padding: 25px;
}

.news-body span{
    color: #00153a;
    font-weight: bold;
    font-size: 22px;
}

.news-body h3{
    font-size: 34px;
    margin: 20px 0;
}

.news-body p{
    color: gray;
    font-size: 24px;
    line-height: 1.6;
}

.news-body small{
    display: block;
    margin-top: 20px;
    font-size: 20px;
}

.footer{
    background: #00153a;
    color: white;
    text-align: center;
    padding: 40px 0;
    margin-top: 50px;
}

.footer h2{
    font-size: 35px;
}

.footer p{
    font-size: 22px;
    margin-top: 10px;
}
.container{
    width: 90%;
    margin: auto;
}

.page-title{
    margin: 30px 0;
    font-size: 50px;
    font-weight: bold;
}

.news-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 50px;
}

.news-card{
    background: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.news-body h2{
    margin: 15px 0;
    font-size: 30px;
}

.news-body p{
    color: gray;
    line-height: 1.6;
}

.category{
    color: darkblue;
    font-weight: bold;
}
.read-more{
    display: inline-block;
    margin-top: 15px;
    background: darkblue;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
}

.detail-box{
    background: white;
    padding: 40px;
    border-radius: 10px;
    margin: 40px 0;
}

.detail-box h1{
    margin-bottom: 20px;
}

.detail-text{
    margin-top: 20px;
    line-height: 1.8;
    font-size: 18px;
}
.home-container{
    width: 90%;
    margin: 30px auto;
    display: flex;
    gap: 40px;
}

.left-news{
    width: 70%;
}

.right-news{
    width: 30%;
}

.main-news{
    background: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.main-news h1{
    font-size: 42px;
    margin-bottom: 20px;
}

.main-news p{
    font-size: 22px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}

.main-news a{
    background: #00154b;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 6px;
    display: inline-block;
}

.small-news{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.news-card{
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.news-card h3{
    font-size: 28px;
    margin-bottom: 15px;
}

.news-card p{
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
}

.news-card span{
    color: gray;
    font-size: 14px;
}

.right-news{
    background: white;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
}

.right-news h2{
    margin-bottom: 20px;
    font-size: 32px;
}

.right-item{
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.right-item h4{
    font-size: 22px;
    margin-bottom: 10px;
}

.right-item p{
    color: gray;
    font-size: 14px;
}
.detail-container{
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

.detail-container h1{
    font-size: 42px;
    margin-bottom: 20px;
}

.date{
    color: gray;
    margin-bottom: 30px;
}

.summary{
    font-size: 22px;
    line-height: 1.8;
    color: #333;
}

.back-btn{
    display: inline-block;
    margin-top: 30px;
    background: #00154b;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 6px;
}