<nav class="navbar">

    <div class="container">

        <div class="logo">
            <a href="/">TA'LIM NEWS</a>
        </div>

        <ul class="menu">

            <li>
                <a href="/">Asosiy</a>
            </li>

            <li>
                <a href="{% url 'talim_news' %}">
                    Ta'lim
                </a>
            </li>

            <li>
                <a href="{% url 'texno_news' %}">
                    Texnologiya
                </a>
            </li>

            <li>
                <a href="{% url 'sport_news' %}">
                    Sport
                </a>
            </li>

            <li>
                <a href="{% url 'jahon_news' %}">
                    Jahon
                </a>
            </li>

        </ul>

    </div>

</nav>