<nav class="navbar">
    <div class="container nav-container">

        <a href="/" class="logo">
            ABDULLA NEWS
        </a>

        <ul class="nav-links">
            <li><a href="/">Asosiy</a></li>
            <li><a href="/talim/">Ta'lim</a></li>
            <li><a href="/texnologiya/">Texnologiya</a></li>
            <li><a href="/sport/">Sport</a></li>
            <li><a href="/jahon/">Jahon</a></li>
            <li><a href="/about/">Dastur haqida</a></li>
        </ul>

    </div>
</nav>