<nav class="navbar">

    <div class="container">

        <div class="logo">
            <a href="/">
                {{ logo }}
            </a>
        </div>

        <ul class="menu">

            <li>
                <a href="/">Asosiy</a>
            </li>

            <li>
                <a href="/talim/">Ta'lim</a>
            </li>

            <li>
                <a href="/texnologiya/">Texnologiya</a>
            </li>

            <li>
                <a href="/sport/">Sport</a>
            </li>

            <li>
                <a href="/jahon/">Jahon</a>
            </li>

        </ul>

    </div>

</nav>