{% extends 'base.html' %}

{% block title %}
So‘nggi Yangiliklar
{% endblock %}

{% block content %}

<div class="home-container">

    <!-- CHAP TOMON -->
    <div class="left-news">

        {% if latest_news %}

        <!-- KATTA YANGILIK -->
        <div class="main-news">

            <h1>
                {{ latest_news.0.title }}
            </h1>

            <p>
                {{ latest_news.0.summary|safe|truncatewords:25 }}
            </p>

            <a href="{% url 'news_detail' 0 %}">
                Batafsil o‘qish
            </a>

        </div>

        <!-- QOLGAN YANGILIKLAR -->
        <div class="small-news">

            {% for item in latest_news|slice:"1:5" %}

            <div class="news-card">

                <h3>
                    {{ item.title }}
                </h3>

                <p>
                    {{ item.summary|safe|truncatewords:20 }}
                </p>

                <span>
                    {{ item.published }}
                </span>

            </div>

            {% endfor %}

        </div>

        {% endif %}

    </div>

    <!-- O‘NG TOMON -->
    <div class="right-news">

        <h2>So‘nggi yangiliklar</h2>

        {% for item in latest_news|slice:"5:15" %}

        <div class="right-item">

            <h4>
                {{ item.title }}
            </h4>

            <p>
                {{ item.published }}
            </p>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}