{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="news-container">

    <h1 class="section-title">Sport Yangiliklari</h1>

    <div class="news-grid">

        {% for item in news %}

        <div class="news-card">

            <img src="{{ item.image_url }}" alt="news">

            <div class="news-content">

                <h2>{{ item.title }}</h2>

                <p>{{ item.pub_date }}</p>

                <a href="{{ item.link }}" target="_blank">
                    Batafsil
                </a>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}