{% extends 'base.html' %}

{% block title %}
Sport Yangiliklari
{% endblock %}

{% block content %}

<div class="container">

    <h1 class="section-title">
        Sport Yangiliklari
    </h1>

    <div class="news-grid">

        {% for item in sport_items %}

        <div class="news-card">

            <div class="news-body">

                <span>
                    KUN.UZ SPORT
                </span>

                <h3>
                    {{ item.title }}
                </h3>

                <p>
                    {{ item.summary|safe }}
                </p>

                <small>
                    {{ item.published }}
                </small>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}