{% extends 'base.html' %}

{% block title %}
{{ page_title }}
{% endblock %}

{% block content %}

<div class="container">

    <h1 class="page-title">
        {{ page_title }}
    </h1>

    <div class="news-grid">

        {% for item in items %}

        <div class="news-card">

            <div class="news-body">

                <span class="category">
                    KUN.UZ
                </span>

                <h3>
                    {{ item.title }}
                </h3>

                <p>
                    {{ item.summary|safe|truncatewords:30 }}
                </p>

                <small>
                    {{ item.pub_date }}
                </small>

            </div>

        </div>

        {% empty %}

        <h2>
            Yangilik topilmadi
        </h2>

        {% endfor %}

    </div>

</div>

{% endblock %}